{% extends 'basic.html' %} {% block title %} Albert Einstein {% endblock %}
{% block body %}
{% for i in sci %}
<div class="info">
  <h4>{{i.name}}</h4>
  <p>{{i.details}}
  </p>
</div>
{% endfor %}
<div class="update">
  <button class="submit" id="edit">Edit</button>
  <button class="submit">Submit</button>
</div>
<div id="editPage" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    {% for i in sci %}
    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{i.name}}">
    </div>
      <div class="form-group">
        <label>Edit in Paragraph</label><br>
        <textarea class="form-control" required rows="18" cols="70" name="albertdetails">{{i.details}}</textarea>
        {% endfor %}
      </div>

      <div class="modal-footer">
        <input type="submit" class="submit" value="Update" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
